{% extends "layout.html" %}

{% block title %}
Group Management
{% endblock %}

{% block style %}
<style>
    #group-table,
    #invite-table {
        background-color: #dce8e7;
        border-radius: 10px;
        width: 90vw;
        max-width: 400px;
    }

    #group-table {
        margin: 100px auto;
    }

    th,
    td {
        height: 10vh;
        font-size: 30px;
        text-align: center;
    }

    td {
        font-size: 20px;
    }

    .left-column {
        border-right: 1px solid black;
    }

    .th-invite {
        max-width: 380px;
    }
</style>
{% endblock %}

{% block script %}
<script>
    $("#group-form").on("submit", function () {
        $.ajax({
            url: "groups",
            data: JSON.stringify(getJSON($(this))),
            success: function (response) {
                switch (response.status) {
                    case 0:
                        window.location.reload();
                        break;
                    case 1:
                        if (confirm("The group name \"" + $("#name").val() + "\" does not exist. Are you sure that you want to create a new group?")) {
                            $.ajax({
                                url: "groups",
                                data: JSON.stringify({ ...getJSON($("#group-form")), "confirm": true }),
                                success: function () {
                                    window.location.reload();
                                }
                            });
                        }
                        break;
                    case 2:
                        alert("You are already a member of the group \"" + $("#name").val() + "\".");
                        $("#name").select();
                        break;
                    case 3:
                        alert("Incorrect password.");
                        $("#password").val("").focus();
                        break;
                }
            }
        });
        return false;
    });
</script>
{% endblock %}

{% block main %}
{% if invitations %}
<table id="invite-table">
    <thead>
        <th class="th-invite" style="width: 30%">Invitation</th>
        <th class="th-invite">Action</th>
    </thead>
    <tbody>
        <form method="post">
            {% for i in invitations %}
            <tr>
                <td>
                    {{", ".join(i[0])}} invited you to "{{i[1]}}".
                </td>
                <td>
                    <button type="submit" name="accept" value="{{i[1]}}" class="btn btn-success"
                        onclick='return confirm("Are you sure that you want to accept your invitation to \"{{i[1]}}\"?");'>Accept</button>
                    <button type="submit" name="reject" value="{{i[1]}}" class="btn btn-danger"
                        onclick='return confirm("Are you sure that you want to reject your invitation to \"{{i[1]}}\"?");'>Reject</button>
                </td>
            </tr>
            {% endfor %}
        </form>
    </tbody>
</table>
{% endif %}
<h1>Your groups</h1>
<table id="group-table">
    <thead>
        <th style="width: 20%" class="left-column">
            Group name
        </th>
        <th style="width: 40%" class="left-column">
            Group members
        </th>
        <th>
            Action
        </th>
    </thead>
    <tbody>
        <form method="post">
            {% for group in groups %}
            <tr>
                <td class="left-column">
                    {{group[0]}}
                </td>
                <td class="left-column">
                    {{", ".join(group[1])}}
                </td>
                <td>
                    <button type="submit" class="btn btn-danger" name="leave" value="{{group[0]}}"
                        onclick='return confirm("Are you sure that you want to leave \"{{group[0]}}\"?");'>
                        Leave group
                    </button>
                </td>
            </tr>
            {% endfor %}
        </form>
    </tbody>
</table>
<h1>Join group. If the group does not exist, it will be created.</h1>
<form id="group-form">
    <div class="form-group">
        <label for="name">Group name</label>
        <input autofocus required type="text" class="form-control" name="name" id="name" placeholder="Enter group name">
    </div>
    <div class="form-group">
        <label for="password">Group password</label>
        <input required type="password" class="form-control" name="password" id="password"
            placeholder="Enter group password">
    </div>
    <button type="submit" id="submit-btn" class="btn btn-primary">Join or create group</button>
</form>
{% endblock %}