{% extends "layout.html" %}

{% block title %}
Main Page
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome {{message}}</h1>

            {% if 'user' in session %}

            <!-- Modal Button-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Add a New Task
            </button>
            <input type="checkbox" id="hideCompleted">
                Hide Completed
            </input>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Groups</th>
                        <th>Deadline</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- TODO: Add color in class of link to signal pass deadline, completed or to be completed -->
                    <!-- Refer to https://getbootstrap.com/docs/5.1/components/list-group/ -->

                    {% for task in get_tasks() %}
                    {% if task['completed'] == 1 %}
                    <div class="list-group completedTask">
                        <a href="#" class="list-group-item list-group-item-action completed" aria-current="true">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{task['name']}}</h5>
                            <small>{{task['delta_days']}}</small>
                          </div>
                          <p class="mb-1">Group: {{task['groups']}}</p>
                          <small class="text-muted">{{task['points']}}</small>
                        </a>
                    </div>

                    <tr class="completedTask">
                        <td>
                            {{task['name']}}
                        </td>
                        <td>
                            {{task['groups']}}
                        </td>
                        <td>
                            {{task['deadline']}}
                        </td>
                        <td>
                            {{task['completed']}}
                        </td>
                    </tr>

                    {% endif %}

                    {% if task['completed'] == 0 %}
                    <tr class="incompleteTask">
                        <td>
                            {{task['name']}}
                        </td>
                        <td>
                            {{task['groups']}}
                        </td>
                        <td>
                            {{task['deadline']}}
                        </td>
                        <td>
                            {{task['completed']}}
                        </td>
                    </tr>

                    {% endif %}

                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        {% if 'user' in session %}
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            Leaders
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">

        </div>

        {% endif %}
    </div>
</div>

{% endblock %}



{% block modal %}

{% if 'user' in session %}
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newTask">
                    <input required type="text" id="taskName" name="name" placeholder="Task Name" />
                    <label for="groups">Create task in - </label>
                    <select required id="groups" name="groups">
                        <option value="Private">Private/Personal</option>
                        {% for g in get_groups() %}
                        <option value="{{g}}">{{g}}</option>
                        {% endfor %}
                    </select>
                    <label for="deadline">Deadline - </label>
                    <input required type="text" id="deadline" name="deadline" />
                    <input required type="text" list="categories" id="category" name="category"
                        placeholder="Category" />
                    <datalist id="categories">
                        <option value="existing List Goes here">
                        <option value="existing List Goes here 2">
                    </datalist>
                    <input required type="number" name="points" placeholder="Points" />
                    <button class="btn btn-primary" type="submit">
                        Create Task
                    </button>
                </form>
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
{% block script %}
<script>
    $("#newTask").on("submit", function () {
        $.ajax({
            url: "/api/task/new",
            data: JSON.stringify(getJSON($(this))),
            success: function (response) {
                if (response.success) {
                    alert("Operation successful.");
                    window.location.reload();
                }
                else {
                    alert(response.message);
                }
            }
        });
        return false;
    });
    $('#hideCompleted').on("change", function(){
        if($(this.checked)[0] == true){
            $(".completedTask").hide();
        }
        else{
            $(".completedTask").show();
        }
    })
</script>
{% endblock %}

{% block style %}
<style>
    .completed{
        background-color:aquamarine;
    }
</style>
{% endblock %}