{% extends "layout.html" %}

{% block title %}
Main Page
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Welcome, {{message}}</h4>
            {% if "user" in session %}
            <div>
                {% if get_challenged_tasks() %}
                <table>
                    <thead>
                        <tr>
                            <th>
                                Task
                            </th>
                            <th>
                                Challenged By
                            </th>
                            <th>
                                Propose New Points
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for challenge in get_challenged_tasks() %}
                        <tr>
                            <td>
                                {{challenge.split('-')[0]}}
                            </td>
                            <td>
                                {{challenge.split('-')[1]}}
                            </td>
                            <td>
                                <form id="changePoint">
                                    <input type="number" name="{{challenge.split('-')[0]}}"
                                        placeholder="New Points Value">
                                    <input style="visibility:collapse; display: none;"
                                        name="{{challenge.split('-')[1]}}">
                                    <button type="submit"> Change
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Add a New Task
            </button>
            {% if get_hide_complete() %}
            <input type="checkbox" id="hideCompleted" checked />
            {% else %}
            <input type="checkbox" id="hideCompleted" />
            {% endif %}
            <label>Hide Completed</label>
            <div>
                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th style="width: 40%;"></th>
                            <th style="font-size: smaller;">Days Until Due</th>
                            <th style="font-size: smaller;">Points</th>
                            <th style="font-size: smaller">✓</th>
                        </tr>
                    </thead>
                </table>
                <ul>
                    {% for task in get_tasks() %}
                    <!-- <div class="list-group completedTask">
                    <div href="#" class="list-group-item list-group-item-action completed" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{task["name"]}}</h5>
                            <small>{{task["delta_days"]}}</small>
                        </div>
                        <p class="mb-1">Group: {{task["groups"]}}</p>
                        <small class="text-muted">{{task["points"]}}</small>
                    </div>
                </div> -->

                    {% if task["completed"] %}
                    {% if get_hide_complete() %}
                    <!-- if doesn't show complete -->
                    <li style="margin-left: -40px; color: blue; display: none;"
                        class="completedTask list-group-item justify-content-between align-items-center">
                        {% else %}
                    <li style="margin-left: -40px; color: blue;"
                        class="completedTask list-group-item justify-content-between align-items-center">
                        {% endif %}
                        {% else %}
                    <li style="font-size: 15px; margin-left: -40px; color: red;"
                        class="list-group-item justify-content-between align-items-center">
                        {% endif %}
                        {{task["name"]}}
                        <div style="float:right" class="right">
                            <small style="margin-right: 20px;">{{task["delta_time"]}}</small>
                            <span style="margin-right: 20px;"
                                class="points badge badge-primary badge-pill">{{task["points"]}}</span>
                            {% if task["completed"] %}
                            <input type="checkbox" class="completeCheck" id="{{task['points']}}" name="{{task['name']}}"
                                checked />
                            {% else %}
                            <input type="checkbox" class="completeCheck" id="{{task['points']}}"
                                name="{{task['name']}}" />
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if "user" in session %}
            <h3>Other's Tasks</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            User
                        </th>
                        <th>
                            Task
                        </th>
                        <th>
                            Points
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, tasks in get_friends_tasks().items() %}
                    {% for task in tasks %}
                    <tr>
                        <td>
                            {{name}}
                        </td>
                        <td>
                            {{task['task']}}
                        </td>
                        <td>
                            {{task['points']}}
                        </td>
                        <td>
                            <button name="{{task['task']}},{{name}}" class="challengeButton">
                                Challenge
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <h3>Friends Leaderboard</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in get_leaders() %}
                    <tr>
                        <td>{{person["name"]}}</td>
                        <td>{{person["points"]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <h3>Leaderboard by Group</h3>
            <table class="table">

                {% for groupName, info in get_leaders_by_group().items() %}

                <thead>
                    <tr>
                        <th>
                            {{groupName}}
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Points
                        </th>
                    </tr>

                </thead>
                <tbody>
                    {% for person in info %}
                    <tr>
                        <td>
                            {{person['name']}}
                        </td>
                        <td>
                            {{person['points']}}
                        </td>

                    </tr>
                    {% endfor %}

                </tbody>


                {% endfor %}

            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block modal %}
{% if "user" in session %}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newTask">
                    <input required type="text" id="taskName" name="name" placeholder="Task Name" />
                    <label for="groups">Create task in - </label>
                    <select required id="groups" name="groups">
                        <option value="Private">Private/Personal</option>
                        {% for g in get_groups() %}
                        <option value="{{g}}">{{g}}</option>
                        {% endfor %}
                    </select>
                    <label for="deadline">Deadline - </label>
                    <input required type="datetime-local" id="deadline" name="deadline" />
                    <input required type="text" list="categories" id="category" name="category"
                        placeholder="Category" />
                    <datalist id="categories">
                        <option value="existing List Goes here"></option>
                        <option value="existing List Goes here 2"></option>
                    </datalist>

                    <input required type="number" name="points" placeholder="Points" />
                    <button class="btn btn-primary" type="submit">
                        Create Task
                    </button>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script>
    $("#newTask").on("submit", function () {
        $.ajax({
            url: "/api/task/new",
            data: JSON.stringify(getJSON($(this))),
            success: function (response) {
                if (response.success) {
                    alert("Operation successful.");
                    window.location.reload();
                } else {
                    alert(response.message);
                }
            },
        });
        return false;
    });

    $("#changePoint").on("submit", function () {
        console.log(JSON.stringify(getJSON($(this))))
        $.ajax({
            url: "/api/task/changePoint",
            data: JSON.stringify(getJSON($(this))),
            success: function (response) {
                if (response.success) {
                    alert("Operation successful.");
                    window.location.reload();
                } else {
                    alert(response.message);
                }
            },
        });
        return false;
    })

    $('.challengeButton').on("click", function () {
        data = this.name.split(',');
        console.log("data")
        $.ajax({
            url: "/api/task/challenge",
            data: JSON.stringify({ taskName: data[0], userName: data[1] }),
            success: function (response) {
                if (response.success) {
                    alert("Status Changed");
                } else {
                    alert(response.message);
                }
            },
        });
    })

    $("#hideCompleted").on("change", function () {
        if (this.checked) {
            $('.completedTask').hide();
            hideCompleted.call(this);
        } else {
            $('.completedTask').show();
            hideCompleted.call(this);
        }
    });
    $(".completeCheck").on("change", function () {
        // $("#ding").trigger("play");
        $(".points").fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
        if (this.checked) {
            $("#pointAnimation").html(" +  " + this.id)
        }
        else {
            $("#pointAnimation").html(" -  " + this.id)
        }
        $("#pointAnimation").animate({ fontSize: "100px" });
        $("#pointAnimation").css('color', 'red').fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
        $("#pointAnimation").animate({ fontSize: "16px" });
        setTimeout(() => {
            taskChecked.call(this);
            $("#pointAnimation").css('color', 'black')
        }, 1500)

    });

    function taskChecked() {
        $.ajax({
            url: "/api/task/complete",
            data: JSON.stringify({ name: this.name, checked: this.checked }),
            success: function (response) {
                if (response.success) {
                    alert("Status Changed");
                    window.location.reload();
                } else {
                    alert(response.message);
                }
            },
        });
    }

    function hideCompleted() {
        $.ajax({
            url: "/api/userState/setHideComplete",
            data: JSON.stringify({ status: this.checked }),
            success: function (response) {
                if (response.success) {
                } else {
                    alert(response.message);
                }
            },
        });
    }
</script>
{% endblock %}

{% block style %}
<style>
    .completed {
        background-color: aquamarine;
    }
</style>
{% endblock %}