<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <style>
        body {
            background-image: url("{{get_active_background()}}");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    {% block style %}{% endblock %}
</head>

<body>
    <audio style="display: none;" id="ding" src="/static/sounds/Two Dings.mp3"></audio>
    <div>
        <nav class="navbar-expand-sm navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    {% if "user" in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="/settings">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/groups">Group Management</a>
                    </li>
                    <li class="nav-search" style="margin-left: 10px;">
                        <form method="post">
                            <input required type="text" name="search" id="searchbar" placeholder="Search users...">
                            <button name="button" value="search" class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </li>
                    {% endif %}
                    <!-- <li class="nav-item dropdown dmenu">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Our Service
                    </a>
                    <div class="dropdown-menu sm-menu">
                        <a class="dropdown-item" href="#">service2</a>
                        <a class="dropdown-item" href="#">service 2</a>
                        <a class="dropdown-item" href="#">service 3</a>
                    </div>
                </li>
                <li class="nav-item dropdown dmenu">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu sm-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                        <a class="dropdown-item" href="#">Link 4</a>
                        <a class="dropdown-item" href="#">Link 5</a>
                        <a class="dropdown-item" href="#">Link 6</a>
                    </div>
                </li> -->
                </ul>
                {% if "user" not in session %}
                <a href="/signin" class="nav-item-right">
                    <button class="btn btn-success">Sign In</button>
                </a>
                <a href="/signup" class="nav-item-right">
                    <button class="btn btn-primary">Sign Up</button>
                </a>
                {% else %}
                <span style="margin-right: 1%;">{{session["user"]}} </span>
                <span id="pointAnimation"></span>
                <form class="nav-item-right form-inline my-2 my-lg-0" method="post">
                    <button name="button" value="logout" class="btn btn-danger danger" type="submit">Log Out</button>
                </form>
                {% endif %}
            </div>
        </nav>
    </div>
    <div class="blur-content-behind">
        <!-- Ideally to be of class  class="blur-content-behind", but Modal pupup doesn't work when made that way-->
        {% block main %}{% endblock %}
    </div>
    {% block modal %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="/static/base.js"></script>
    {% block script %}{% endblock %}
</body>

</html>