{% extends "layout.html" %}

{% block title %}
Search results for {{query}}
{% endblock %}

{% block main %}
<h1>
    Search results for {{query}}:
</h1>
{% if not names %}
<span>No results</span>
{% else %}
<form method="post">
    {% for name in names %}
    <div>
        <span>{{name}}</span>
        <select>
            <option disabled selected>Please select a group</option>
            {% for group in session["groups"] %}
            {% if name in group[1] %}
            <option disabled>{{group[0]}}</option>
            {% else %}
            <option>{{group[0]}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <button name="button" value={{name}} type="submit">Invite user to group</button>
    </div>
    {% endfor %}
</form>
{% endif %}
{% endblock %}