{% extends "layout.html" %}

{% block title %}
Search results for {{query}}
{% endblock %}

{% block script %}
<script>
    $("#search-form").on("submit", function () {
        var users = {};
        $(".user").each(function () {
            if ($(this).val()) {
                users[$(this).attr("name")] = $(this).val();
            }
        });
        if ($.isEmptyObject(users)) {
            alert("Please select users.");
        } else {
            var message = "Please confirm:";
            for (var key in users) {
                message += "\nInvite " + key + " to \"" + users[key] + "\"\n";
            }
            message += "Are you sure that you want to invite these users?";
            if (confirm(message)) {
                $.ajax({
                    url: "search",
                    data: JSON.stringify(users),
                    success: function () {
                        alert("Operation successful.");
                    }
                });
            }
        }
        return false;
    });
</script>
{% endblock %}

{% block main %}
<h1>
    Search results for {{query}}:
</h1>
{% if not names %}
<span>No results</span>
{% else %}
{% for name in names %}
<div>
    {% if name != session["user"] %}
    <span>{{name}}</span>
    {% else %}
    <span>{{name}} (yourself)</span>
    <!-- <select class="user" name="{{name}}">
        <option disabled selected value>Please select a group</option>
        {% for group in session["groups"] %}
        {% if name in group[1] %}
        <option disabled value="{{group[0]}}">{{group[0]}}</option>
        {% else %}
        <option value="{{group[0]}}">{{group[0]}}</option>
        {% endif %}
        {% endfor %}
    </select> -->
</div>
{% endfor %}
<!-- <form id="search-form">
    <button type="submit" class="btn btn-primary">Invite users to group</button>
</form> -->
{% endif %}
{% endblock %}