
{% extends "layout.html" %}

{% block title %}
Account Settings
{% endblock %}

{% block script %}
<script>
    var p = $("#new")[0];
    var c = $("#confirm")[0];
    $("#change-form").on("input", function () {
        if (p.validity.patternMismatch) {
            p.setCustomValidity("The password has to be at least 6 characters long and contain at least one letter, one number and one special character (@$!%*#?&).");
        } else {
            p.setCustomValidity("");
        }
    }).on("submit", function () {
        if (p.value !== c.value) {
            alert("Passwords do not match.");
        } else {
            $.ajax({
                url: "settings",
                data: JSON.stringify(getJSON($(this))),
                success: function (response) {
                    if (!response.status) {
                        alert("Operation successful. Please use your new password to sign in next time.");
                    } else {
                        alert("The old password is incorrect.");
                        $("#old").val("").focus();
                    }
                }
            });
        }
        return false;
    });
    $("#background-form").on("submit", function () {
        $.ajax({
            url: "/api/background/upload",
            data: new FormData(this),
            cache: false,
            contentType: false,
            processData: false,
            success: function (response) {
                if (!response.status) {
                    alert("Operation successful.");
                    window.location.reload();
                } else
                    alert("Invalid image format. (Must be png or jpeg)");
            }
        });
        return false;
    });
</script>
{% endblock %}

{% block style %}
<style>
    .background-choice {
        max-width: 30vw;
        max-height: 30vh;
        margin-top: 5vh;
    }
</style>
{% endblock %}

{% block main %}
<div class="center">
    <div>
        <h3>Private setting</h3>
        <form method="post" id="private-form">
            <label for="private">Private account (others won't be able to search for you)</label>
            {% if private %}
            <input checked type="checkbox" name="private" id="private">
            {% else %}
            <input type="checkbox" name="private" id="private">
            {% endif %}
            <button name="button" value="update" type="submit" class="btn btn-primary">Update private setting</button>
        </form>
    </div>
    <hr>
    <div>
        <h3>Change password</h3>
        <form id="change-form">
            <div class="form-group">
                <label for="old">Old password</label>
                <input required type="password" class="form-control" name="old" id="old"
                    placeholder="Enter old password">
            </div>
            <div class="form-group">
                <label for="new">New password</label>
                <input required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$" type="password"
                    class="form-control" name="new" id="new" aria-describedby="password-tip"
                    placeholder="Enter new password">
                <small id="password-tip" class="form-text text-muted">The password has to be at least 6 characters long
                    and contain at least one letter, one number and one special character (@$!%*#?&).</small>
            </div>
            <div class="form-group">
                <label for="confirm">Confirm password</label>
                <input required type="password" class="form-control" name="confirm" id="confirm"
                    placeholder="Confirm password">
            </div>
            <button name="button" value="change" type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
    <hr>
    <div>
        <h3>Upload custom background image</h3>
        <form method="post" id="background-form" enctype="multipart/form-data">
            <input required type="file" id="image" name="image" accept="image/png, image/jpeg" style="display: block;">
            <label for="image-title">Image title</label>
            <input required type="text" class="form-control" name="title" id="image-title"
                placeholder="Enter image title">
            <button type="submit" class="btn btn-primary" name="button" value="background">Submit</button>
        </form>
    </div>
    <hr>
    <div>
        <h3>Manage background images</h3>
        <div class="container">
            <div class="row">
                {% for background in get_all_backgrounds() %}
                <div class="col">
                    <span>{{background[1]}}</span>
                    {% if background[2] %}
                    <span>(active)</span>
                    {% endif %}
                    <img class="background-choice" src="{{background[0]}}" />
                </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div>
            <h3 style="color: red;">Delete account (This action is irreversible)</h3>
            <form method="post" id="delete-form">
                <button name="button" value="delete" type="submit" class="btn btn-danger"
                    onclick="return confirm('Are you sure that you want to delete your account? This action is irreversible.');">Delete
                    Account</button>
            </form>
        </div>
    </div>
    {% endblock %}