{% extends "layout.html" %}

{% block title %}
Account Settings
{% endblock %}

{% block main %}
<form method="post" id="settings-form">
    <div>
        <label for="private">Make your account private</label>
        {% if privateStatus %}
        <input checked type="checkbox" name="private" id="private">
        {% else %}
        <input type="checkbox" name="private" id="private">
        {% endif %}
        <button name="button" value="update" type="submit" class="btn btn-primary">Update settings</button>
    </div>
    <div>
        <span>Delete account. This action is irreversible.</span>
        <button name="button" value="delete" type="submit" class="btn btn-danger"
            onclick="return confirm('Are you sure that you want to delete your account? This action is irreversible.');">Delete
            Account</button>
    </div>
</form>
{% endblock %}