{% extends "layout.html" %}

{% block title %}
Sign In
{% endblock %}

{% block style %}
<style>
    #signin-btn {
        float: right;
        margin-right: 2px;
    }

    #signin-form {
        height: 212px;
    }
</style>
{% endblock %}

{% block main %}
<form method="post" id="signin-form">
    <div class="form-group">
        <label for="username">Username</label>
        <input autofocus required type="text" class="form-control" name="username" id="username" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input required type="password" class="form-control" name="password" id="password" placeholder="Enter password">
    </div>
    <button type="submit" id="signin-btn" class="btn btn-primary">Sign In</button>
</form>
{% endblock %}